<div class="jumbotron"> 
	<div class="container"> 
		<h2>Editing <%= @user.name %> <small>user ID:<%= @user.id %></small></h1>
	</div>
</div>
<div class="container">
	<%= render 'form' %>
	<div class="text-center">
		<%= button_to "Destroy", category_path(id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
	</div>
</div>