<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá <b><%= @user.name %></b>, <br />
    O seu cadastro foi aprovado pelo administrador.</p>
    
    <p>Você pode efetuar o login através deste link: <%= link_to 'Heinz Catálogo Online', root_url%></p>

    <p>Suporte - HEINZ - Catálogo Online.</p>
  </body>
</html>