@font-face {
        font-family: "BRREGULA";
        src: url(/assets/BRREGULA.tff) format("truetype");
    }

.cat_quero, .cat_heinz{
  font-family: "BRREGULA";
}

.cat_heinz {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  word-spacing: 0.2ex;
  letter-spacing: 0.125ex;
}
.cat_quero {
  text-shadow: 0px 1px 1px #dfdfdf;
}
