// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heinz_header {
	background-image: url(image-path('heinz_header.png'));
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 296px;
	height: 136px;
	margin: 0 auto;
}
.devise_links {
	margin: 10px 0 0px 0;
}
html {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
}
body {
	height: 100%;
}
.heinz {
	padding-top: 23%;
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url('/assets/heinz_background.png') no-repeat;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.quero {
	padding-top: 23%;
	height: 100%;
	margin: 0px;
	background: url('/assets/quero_background.jpg') no-repeat;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}
