<div class="jumbotron"> 
	<div class="container"> 
		<h2>Editing <%= @category.name %></h2><br/> 
		<small>parent:<%= @category.parent ? @category.parent.name : "root" %></small>
	</div>
</div>
<div class="container">
	<%= render 'form' %>
</div>
