<div class="jumbotron" style="padding: 20px;">
	<div class="container">
		<h2>Categoria<br/><small class="note">Criando categoria dentro de: <%= @name ? @name : "root" %></small></h2>
	</div>
</div>

<div class="container">
	<%= render 'form' %>
</div>
