<div class="jumbotron"> 
	<div class="container"> 
		<h2>New Category<br/><small class="note">Creating a new category under: <%=@parent ? @parent.name : "root" %></small></h2>
	</div>
</div>

<div class="container">
	<%= render 'form' %>
</div>
