<p>Olá <%= @resource.name %>!</p>

<p>Alguem solicitou um link para alteração de sua senha no Catálogo Online da Heinz. Você pode alterá-la utilizando o link abaixo. </p>

<p><%= link_to 'Alterar sua Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha solicitado o mesmo, porfavor ignorar este e-mail.</p>
<p>Sua senha não será modificada até que você acesse o link acima e crie uma nova senha.</p>

<p>Suporte - HEINZ - Catálogo Online.</p>
