.parent  
  .col-sm-10.heinzhd.text-center{style: "padding-top: 3%; min-height: 100%;"}
    %img.overfheinz.ovlay(src="/assets/overflow.png")
    .nothing
      = image_tag("heinz_header.png")
      %h1{style: "z-index: 2;color: white; margin-bottom: 15px; margin-top:25px; font-size: 2em;"}
        - @category.ancestors.each do |cat|
          =link_to cat.name, cat, style: "color: white;"
          = image_tag("arrow.png") unless cat == @category.ancestors.last
      = image_tag("down_equal.png", style: "margin-bottom: 10px;")
      %ul{style: "padding: 0px; padding-top: 0px; list-style: none;margin-bottom: 50px;"}
        - @category.children.each do |cat|
          %li{style: "margin-bottom: 8px; margin-left: 10px;", class: "cat_heinz"}= link_to cat.name.upcase, cat, style: "font-size: 15pt; color: #faf9f1;"
  .col-sm-2.quero.text-center
    =link_to image_tag("quero_header.png", style: "z-index: 2;width: 100%;",class: "centered"), category_path(id: "quero"), :class => "querosmall"
