.col-sm-6.text-center.heinzhd
  =link_to image_tag("heinz_header.png", class: "centered"), category_path(id: "heinz"), :class => "heinzopt"
.col-sm-6.text-center.querohd
  =link_to image_tag("quero_header.png", class: "centered"), category_path(id: "quero"), :class => "queroopt"
