<div class="jumbotron" style="padding: 20px;">
	<div class="container"> 
		<h1><%=@image.name%><br/><small class="note"> Categoria: <%= @category ? @category.name : "root"  %></small></h1>
	</div>
</div>

<div class="container">
	<%= render 'form' %>
</div>