<div class="jumbotron" style="padding: 20px;">
	<div class="container"> 
		<h1>New Image<br/><small class="note"> Category: <%= @name ? @name : "root"  %></small></h1>
	</div>
</div>

<div class="container">
	<%= render 'form' %>
</div>
